html {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    background-color: black;
}
body {
    position: relative;
    padding: 0;
    margin: 0 auto;
    max-width: 100vw;
    max-height: 100vh;
    aspect-ratio: 16/9;
    top: 50%;
    transform: translateY(-50%);
    background: url("../resources/images/tc-s_frilagd.svg") no-repeat;
    background-position: center;
    background-size: 50vw;
    text-shadow: 0.05vw 0.05vw rgb(139, 139, 139);
    font-family: AtkinsonHyperlegible;
    transition: 0.5s ease;
}
iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
footer {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    color: #fff;
    font-size: max(1.1vw, min(1.2em, 1.2vw));
    height: 15%;
    width: 100%;
    text-shadow: 0.1vw 0.1vw 1rem rgb(76 76 76);

    display: flex;
    align-items: center;
    gap: 2em;
    padding: 0 1em 1em 1em;
}
footer > img {
    height: 90%;
}

footer > section {
    display: flex;
    gap: 3em;
}

footer > section h3 {
    font-size: min(1.6em, 1.6vw);
    margin: 0;
}

footer > section p {
    margin: 0;
}

#clock {
    font-size: min(4em, 4vw);
    justify-self: flex-end;
    margin-left: auto;
}

@font-face {
    font-family: Arial;
    src: url("../resources/fonts/arial.ttf");
}
@font-face {
    font-family: AtkinsonHyperlegible;
    src: url("../resources/fonts/Atkinson-Hyperlegible-Regular.ttf");
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
