html {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    background-color: black;
}
body {
    position: relative;
    padding: 0;
    margin: 0 auto;
    max-width: 100vw;
    max-height: 100vh;
    aspect-ratio: 16/9;
    top: 50%;
    transform: translateY(-50%);
    background: url("../resources/images/tc-s_frilagd.svg") no-repeat;
    background-position: center;
    background-size: 50vw;
    text-shadow: 0.05vw 0.05vw rgb(139, 139, 139);
    font-family: Arial;
    transition: 0.5s ease;
}
iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
footer {
    position: absolute;
    bottom: 0;
    width: auto;
    color: #fff;
}
footer > img {
}
#clock {
    font-size: 3vmax;
}

@font-face {
    font-family: Arial;
    src: url("../resources/fonts/arial.ttf");
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
