html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
    
}
body{
    overflow: hidden;
    transition: .5s ease;
    font-family: Arial; 
    text-shadow: 0.05vw 0.05vw rgb(139, 139, 139);
    letter-spacing: 0.1vw;
    aspect-ratio: 16/9;
    max-width: 100vw;
    max-height: 100vh;
    width: max-content;
    margin: 0;
    padding: 0;
    background: url("../resources/images/tc-s_frilagd.svg") no-repeat;
    background-position: center;
    background-size: 50vw;
}
a{
   text-decoration: none; 
}
iframe{
    border: none;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
section{
    transform: translate(0, -105%);
    width: 100%;
    height: 15%;
    color: #fff;
    display: flex;
    gap: 2vw;
    transition: .5s ease;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
img{
    height: calc(100% - 1vw * 2);
    margin: 1% 1%;
}
table{
    margin: 1vw 0 0 0;
    flex-basis: fit-content;
}
span[style="float:right"]{
    display: none;
}
tbody{
    vertical-align: top;
}
tr td{
    font-size: .9vmax;   
}
tr:first-child td{
    height: 0;
    font-size: 1.3vmax;
}
#clock{
    margin: 1% 0 0 0;
    font-size: 3vmax;
    display: flex;
    padding: 0 1%;
    flex: 1 1 fit-content;
    justify-content: flex-end;
    height: 100%;
}
@font-face {
    font-family: Arial;
    src: url('../resources/fonts/arial.ttf');
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}