[Unit]
Description=startupbrowser
After=graphical.target

[Service]
User=pi
WorkingDirectory=/home/pi
Environment=DISPLAY=:0
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/chromium-browser --start-fullscreen ~/Documents/raspberrt-pi-presentation-master/index

[Install]
WantedBy=graphical.target
