*{
    margin: 0;
    padding: 0;
    font-family: "YaHei";
    color: white;
}
body {
    background: radial-gradient(at 50vw bottom, rgb(0, 0, 0) 0vw, rgb(4, 45, 59) 50vw, rgb(4, 45, 59) 100vw) no-repeat;
    background-position: bottom;
    background-size: cover;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
        "title title"
        "content img";
}
h1{
    font-size: 3vw;
    margin: .5em 0;
}
h2{
    font-size: 2vw;
    margin: 1em 0 .5em 0;}
p{
    font-size: 1vw;
    margin: .5em 0;
}
li{
    margin: 1em 0;
}
.title{
    opacity: 0;
    animation: fade 2s forwards linear 1s;
    grid-area: title;
    height: 15vh;
}
.content{
    opacity: 0;
    animation: fade 2s forwards linear 3s;

    grid-area: content;
    height: 85vh;
    width: 50vw;
}
.content section{
    width: 90%;
    height: 80%;
    padding: 7%;
    margin: 0 10%;
    background: url(../resources/pilar.svg) no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image{
    opacity: 0;
    animation: fade 2s forwards linear 5s;
    grid-area: img;
    height: 85vh;
    width: 50vw;
}
.image img{
    width: 85%;
    height: 85%;
}
.title, .content, .image{
    display: flex;
    align-items: center;
    justify-content: center;
}
@font-face {
    font-family: "YaHei";
    src: url("../resources/yahei.ttf");
}
@keyframes fade {
    0% {
        opacity: 0;

    }
    100% {
        opacity: 1;
    }
}
