body{
    grid-template-areas: 
            "starttext graph"
            "logo info";
}
.graph svg{
    transform: rotate(360deg) translateX(5%);
}
.graph ul{
    margin-right: 7.5vw;
    direction: rtl;
}
.bubbleobj{
    animation: fadein 5s forwards;
    margin-left: 3vw;
}
.pointer{
    margin-left: 35vw;
    margin-top: -2vh;
}
.pointer2{
    margin-left: 35vw;
    margin-top: -2vh;
}
.info ul{
    margin-left: 38.5%;
    border-radius: 2em 0 0 2em;
}
.logo{
    grid-area: logo;

}
