:root {
    --main-bg-color: rgb(20, 18, 18);
    --secondary-bg-color: rgb(58, 57, 57);
    --bubble-bg-color: #203354;
    --circle-bg-color: radial-gradient(circle at 100px 100px, #5cabff, #000);
    --maincircle-bg-color: radial-gradient(circle at 100px 100px, #2d9c0b, #000);
}
body {
    overflow: hidden;
    background-color: var(--main-bg-color);
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Hemi-head;
}
ul{
    padding: 0;
    list-style: none;
}
.container {
    height: 75vh;
}
.graph {
    grid-area: graph;
    width: 50vw;
}
.graph svg {
    height: 100%;
    width: 200%;
    margin-bottom: 10%;
}
.graph ul{
    margin-top: -6em;
    padding: 0;
}
.graph ul li{
    color: white;
    font-size: 1.5em;
    padding-bottom: 1em;
    opacity: 0;
    animation: fadein 3s forwards linear;
}
.graph ul li:nth-of-type(1){
    animation-delay: 6s;
    list-style-image: url(../resources/blixt.svg);
}
.graph ul li:nth-of-type(2){
    animation-delay: 8s;
    list-style-image: url(../resources/truck.svg);
}
.graph ul li:nth-of-type(3){
    animation-delay: 10s;
    list-style-image: url(../resources/factory.svg);
}
#g18, #g1016, #g1203{
    animation: rotate1 3s linear forwards;
    transform-origin: 50.3% 64.1%;
}
#g18  {
    animation-delay: 4s;
}
#g1016 {
    animation-delay: 7s;
}
#g1203 {
    animation-delay: 10s;
}
#g3533 {
    display: none;
}
.info {
    grid-area: info;
}
.info ul{
    background-color: var(--secondary-bg-color);
    box-shadow: 5px 10px 40px rgb(63, 62, 62);
    font-size: 0.75em;
    width: 60%;
    color: white;
    border: 3px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slide-in 2s forwards; 
}
/* Item */
.logo {
    grid-area: logo;
}
.circles {
    grid-area: main-info;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    width: 50vw;
    height: 70vh;
}
.circles ul {
    padding-right: 0;
}
.circles li{
    border-radius: 50%;
    margin-bottom: 3vh;
    font-size: 1.5em;
    opacity: 0;
    animation: fadein 3s forwards linear;
    background: var(--circle-bg-color);
    color: white;
}
.circles ul, .circles li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.circles li:nth-of-type(1) {
    background: var(--maincircle-bg-color);  
    animation-delay: 15s;
}
.circles li:nth-of-type(2) {
    animation-delay: 16s;  
}
.circles li:nth-of-type(3) {
    animation-delay: 17s;
}
.circles li:nth-of-type(4) {   
    animation-delay: 18s;
}
.circles li:nth-of-type(5) {
    animation-delay: 19s;
}
.text {
    color: white;
    position: relative;
    font-size: 1.3em;
    opacity: 0;
    animation: fadein 3s forwards linear;
    animation-delay: 14s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*index*/
.main-info, .second-info, .main-text, .second-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-info{
    justify-content: center;
}
.main-text, .second-text{
    --width: 6vw;
    background: var(--bubble-bg-color);
    width: 45vw;
    height: fit-content;
    max-width: 45vw;
    border-radius: 1vh;
    position: relative;
    padding: 0;
    margin-bottom: - var(--width);
    animation: fadein 5s forwards;
}
.main-text::after, .second-text::after{
    content: "";
    display: block;
    background-color: var(--bubble-bg-color);
    height: 6vw;
    width: var(--width);
    border-radius: 0 0 1vw 0;
    position: relative;
    bottom: calc(var(--width)/-2);
    transform: rotate(45deg);
}
.main-text h2, .second-info h2 {
    color: burlywood;
    font-size: 2.5vw;
    text-align: center;
}
.main-text p{
    color: aliceblue;
    font-size: 1.7vw;
    text-align: center;
}
@font-face { 
    font-family: Hemi-head; src: url('../resources/hemi-head-bd-it.ttf'); 
} 
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}