body{
    grid-template-areas: 
            "main-info graph"
            "logo info";
}
.graph svg {
    transform: rotate(0deg) translateX(0%);
}
#g18, #g1016, #g1203{
    transform: rotate(0deg);
}
.graph ul{
    margin-right: 7.5vw;
    direction: rtl;
}
.main-text::after, .second-text::after{
    right: calc(0.5vw - 10vw);
}
.info{
    direction: rtl;
}
.info ul{
    border-radius: 2em 0 0 2em;
    border-left: none;
}
@keyframes slide-in {
    0% {
        transform: translateX(130%);
    }
    100% {
        transform: translateX(0%);
    }
}