body {
    grid-template-areas: 
            "graph main-info"
            "info logo";
}
*.graph svg {
    transform: rotate(-180deg) translateX(50%);
}
#g18, #g1016, #g1203{
    transform: rotate(360deg);
}
.graph ul{
    margin-left: 5em;
    direction: ltr;
}
.main-text::after, .second-text::after{
    left: calc(0.5vw - 10vw);
}
.info{
    direction: ltr;
}
.info ul{
    border-radius: 0 2em 2em 0;
    border-left: none;
}
@keyframes slide-in {
    0% {
        transform: translateX(-130%);
    }
    100% {
        transform: translateX(0%);
    }
}